:root {
    --first-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

/* header */
.header {
    position: absolute;
    height: 120px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
}

.header-wrapper {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px 40px;
    padding-left:0;
    margin-bottom:0;

}

.header-title h1{
    font-family: var(--first-family);
    color: #545454;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    -webkit-text-stroke:0.8px #000000;
    margin-bottom:0;
}

.header-title p{
    margin-top: 5px;
    margin-left: 5px;
    font-family: var(--second-family);
    color: #292929;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0.25px;
    text-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 1);
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.header a {
    position: relative;
    font-family: var(--second-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    line-height: 160%;
    text-decoration: none;
    color: #545454;
}

.header a:hover, .header a:active, .header a:focus{
    color: #292929;
    cursor: pointer;
}

.header-pets a{
    color: #545454;
}

.header-non-interactive{
    pointer-events: none;
}

.header-non-interactive::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 3px;
    background-color: #F1CDB3; 
}

.header nav{
    margin-right: 3px;
    margin-top: -9px;
}

.header-burger{
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
}

.burger-line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    left: 0;
}

.burger-line-first{
    top: 0;
}

.burger-line-second{
    top: 50%;
    transform: translateY(-50%);
}

.burger-line-third{
    bottom: 0;
}

/* header ends */


/* Our friends block */
.our_friends{
    height: 1462px;
    width: 100%;
    background-color: #F6F6F6;
}

.our_friends-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding-top: 120px;
}

.our_friends-content{
    margin-top: 80px;
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.our_friends-content h2{
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.our_friends-list{
    margin-left: 0px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px 40px;
}

.our_friends-item{
    cursor: pointer;
    width: 270px;
    height: 435px;
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.our_friends-item img{
    width: 270px;
    height: 270px;
}

.our_friends-item h3{
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.our_friends-item p{
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #f1cdb3;
    transition: background-color 0.3s ease;
}

.our_friends-item:hover p, .our_friends-item:active p, .our_friends-item:focus p {
    cursor: pointer;
    background-color: #F1CDB3;
    color: #292929;
    border-color: #F1CDB3;
}

.our_friends-line{
    margin-top:15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button-first h2{
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #cdcdcd;
    border: 2px solid #cdcdcd;
    border-radius: 100px;
    padding: 14px 11px;
}

.button-second h2{
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
    border-radius: 100px;
    padding: auto;
    padding-top: 14px;
    width: 53px;
    height: 53px;
    background: #f1cdb3;
}

.button-third h2{
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    padding: 14px 11px;
    transition: background-color 0.3s ease;
}

.button-first span{
    padding: 14px 8px;
}

.button-third span{
    padding: 14px 8px;
}

.button-third h2:hover, .button-third h2:active, .button-third h2:focus {
    cursor: pointer;
    background-color: #F1CDB3;
    color: #292929;
    border-color: #F1CDB3;
}
/* Our friends ends */

/* Footer */
.footer{
    height: 350px;
    width: 100%;
    background: url(assets/img/footer-background.png) no-repeat center;
    background-size: cover;
}

.footer-wrapper{
    width: 1280px;
    height: 310px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-left: -5px;
    gap: 160px;
}

.footer-text{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    max-height: 234px;
    gap:40px;
    margin-bottom: 60px;
}

.footer-text h2{
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #fff;
}

.footer-line{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
/* Footer ends*/




/* Media 768 px start */
@media screen and (min-width: 768px) and (max-width: 1280px){
    .wrapper {
        width: 100vw;
    }
    
    .header-wrapper {
        max-width: 92vw;
        margin: 4vw 4vw;
    }

    .header nav{
        margin-right: 0.1vw;
    }






    .our_friends{
        height: 241.4vw;
        width: 100vw;
    }
    
    .our_friends-wrapper{
        height: 241.4vw;
        width: 100vw;
        gap: 30px;
        padding-top: 130px;
        
    }
    
    .our_friends-content{
        margin-top: 0px;
    }
    
    .our_friends-list{
        margin-left: 1px;
        margin-top: 0px;
        gap: 30px 40px;
    }
    
    .our_friends-item{
        cursor: pointer;
        width: 270px;
        height: 435px;
        gap: 30px;
    }
    
    .our_friends-item:nth-child(7), .our_friends-item:nth-child(8){
        display:none;
    }
    
    .our_friends-item img{
        width: 270px;
        height: 270px;
    }

    .our_friends-line{
        margin-top:11px;
    }







    .footer{
        height: 83.2vw;
        width: 100vw;
    }
    
    .footer-wrapper{
        width: 100vw;
        height: 83.2vw;
        padding: 0;
        align-items: end;
        padding-top: 26px;
        gap: 60px 65px;
    }
    
    .footer-text{
        padding-top: 0px;
        margin-bottom: 0;
    }

    .footer-text:nth-child(2){
        padding-top:14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header-navigation{
        display: none;
    }

    .header-burger{
        margin-top: -5px;
        display: block;
    }

    .wrapper {
        width: 100vw;
    }

    .header-wrapper {
        max-width: 92vw;
        margin: 9.3vw 6.3vw;
    }




    .our_friends{
        height: 586vw;
        width: 100vw;
        margin-bottom: -107px;
    }
    
    .our_friends-wrapper{
        height: 586vw;
        width: 100vw;
        gap: 42px;
        padding: 0;
        margin: 0;
        padding-top: 11px;
        
    }
    
    .our_friends-content{
        margin-top: 0px;
    }
    
    .our_friends-list{
        display: flex;
        flex-direction: column;
        margin-left: 1px;
        margin-top: 0px;
        gap: 30px;
    }
    
    .our_friends-item{
        cursor: pointer;
        width: 270px;
        height: 435px;
        gap: 30px;
    }
    
    .our_friends-item:nth-child(7), .our_friends-item:nth-child(8), .our_friends-item:nth-child(6), .our_friends-item:nth-child(5), .our_friends-item:nth-child(4){
        display:none;
    }
    
    .our_friends-item img{
        width: 270px;
        height: 270px;
    }

    .our_friends-line{
        gap: 10px;
        margin-top:0px;
    }

    .our_friends-content h2{
        font-size: 25px;
    }





    .footer{
        height: 253.5vw;
        width: 100vw;
    }
    
    .footer-wrapper{
        padding: 0;
        padding-top: 30px;
        width: 100vw;
        height: 252.8vw;;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    .footer-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-family: var(--first-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
        max-height: 470px;
        gap:40px;
        padding: 0;
        margin: 0;
    }
    
    .footer-text h2{
        width: 270px;
        font-size: 25px;
        text-align: center;
    }

    .footer-text h2 br  {
        content: ' '
    }

    .footer-text h2 br:after {
        content: ' '
    }
    
    .footer-line{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .footer-logo{
        width: 81.25vw;
        height: 84.06vw;
    }
}